// Header
@use "abstract" as *;
@use "component/header";

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    height: 100vh;
    background: $primary-color;
}

main {
    position: relative;
    margin-top: 100px;
}
