// Header
@use "abstract" as *;
@use "component/header";
@use "component/title-area";
@use "component/form-demand";
@use "component/footer";

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

 /* Display Block For Deafault Scrool Bar */

 html::-webkit-scrollbar {
    display: none;
  }

.section-main {
    margin-top: 4rem;
    width: 100%;
    height: 10%;
}