// Background Color
$primary-color: #ffffff;
$secondary-color: #228B22;
$default-color: #ccc;

// Button color
$primary-button-color: #ff8c00;
$hover-button-color: #e67600;

// Text color
$primary-text-color: #333;
$secondary-text-color: #ffffff;
$primary-hover-text-color: #ff8c00;

// Error and validation
$error-color: #D32F2F;
$success-color: #388E3C;
$warning-color: #F57C00;
$info-color: #1976D2;
