// Background Color
$primary-color: #ffffff;
$secondary-color: #228B22;

// Button color
$primary-button-color: #ff8c00;
$hover-button-color: #e67600;

// Text color
$primary-text-color: #333;
$secondary-text-color: #ffffff;
$primary-hover-text-color: #ff8c00;