@use "color";

@mixin button_style {
    background-color: color.$primary-button-color;
    border: 2px solid color.$primary-button-color;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    color: color.$secondary-text-color;
    font-weight: bold;
    cursor: pointer;
}

@mixin hover_button_style {
    background-color: color.$hover-button-color;
}
