@use "../abstract" as *;

.section-footer {
    background-color: $secondary-color;
    height: 35px;
}

.section-footer footer {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.section-footer a {
    text-decoration: none;
    color: $secondary-text-color;
    text-align: center;
}