@use "../abstract" as *;

.main-sign-up {
    width: 80%;
    margin: auto;
    background-color: $primary-color;
    display: flex;
    gap: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}


.main-sign-up > .title-area > h1 {
    font-size: 2rem;
}

.form-sign-up {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: $default-space;
}

.form-sign-up form{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-sign-up form label {
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    align-items: center;
}

.form-sign-up form div {
    width: 100%;
    margin-right: 10px;
}

.form-sign-up form div input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid $secondary-color;
}

.form-sign-up form input[type="submit"] {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    @include button_style();
}

.form-sign-up form a {
    text-decoration: none;
    font-size: 1rem;
    color: $primary-text-color;
} 

#error {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
} 

.form-sign-up form input[type="submit"]:hover {
    @include hover_button_style();
}

.form-sign-up form input[type="number"]::-webkit-inner-spin-button,
.form-sign-up form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form-sign-up .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    margin: 10px 0;
}

.button > .prev, .next {
    @include button_style();
    display: flex;
    align-items: center;
    gap: 5px;
}

.button > .prev:hover, .next:hover {
    @include hover_button_style();
}



.non-active-input {
    display: none;
}






