@use "../abstract" as *;

.main-sign-in {
    width: 80%;
    margin: auto;
    background-color: $default-color;
    display: flex;
    gap: 2px;
    box-shadow:  34px 34px 67px #bcbcbc,
                 -34px -34px 67px #ffffff;
}


.main-sign-in > .title-area > h1 {
    font-size: 2rem;
}

.form-sign-in{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: $default-space;
}

.form-sign-in form{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-sign-in form label {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    float: right;
    align-items: center;
}

.form-sign-in form div {
    width: 100%;
    margin-right: 10px;
}

.form-sign-in form div input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid $secondary-color;
}

.form-sign-in form input[type="submit"] {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    @include button_style();
}

.form-sign-in form a {
    text-decoration: none;
    font-size: 1rem;
    color: $primary-text-color;
} 

#error {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
} 

.form-sign-in form input[type="submit"]:hover {
    @include hover_button_style();
}



// .form-sign-in form input[type="number"]::-webkit-inner-spin-button,
// .form-sign-in form input[type="number"]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
// }
