@use "../abstract" as *;

.title-area {
    padding: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    color: $primary-button-color;
    font-size: $large-text;
    padding: 15px;
}

.second-title {
    color: $primary-text-color;
    font-size: $normal-text;
    padding-left: 15px;
    top: 0;
    left: 0;
}