.section-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #ffffff;
  padding: 0 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.section-header img {
  height: 150px;
}

.section-header li {
  list-style: none;
}

.active {
  border-bottom: 2px solid #228B22;
}

.section-header a {
  text-decoration: none;
  font-size: 1rem;
}

.section-header header .menu {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header header .menu .links {
  display: flex;
  gap: 2rem;
}

.section-header header .links a {
  color: #333;
}

.section-header header .links a:hover {
  color: #ff8c00;
}

.section-header header .burger-menu-button {
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.section-header header .burger-menu-button span {
  caret-color: transparent;
}

.section-header header .button a {
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.section-header header .button a:hover {
  background-color: #e67600;
}

.section-header header .burger-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}

.section-header header .burger-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header header .burger-menu .button {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header header .burger-menu .divider {
  height: 1px;
  background-color: #ffffff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section-header header .open {
  display: block;
}

.progress {
  position: fixed;
  left: 0;
  height: 4px;
  z-index: 300;
  width: 100%;
}

.progress-bar {
  height: 4px;
  background: #228B22;
  width: 0%;
}

@media (max-width: 990px) {
  .section-header header .menu .links,
  .section-header header .menu .button a {
    display: none;
  }
  .section-header header .menu .burger-menu-button {
    display: block;
  }
}
.title-area {
  padding: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #ff8c00;
  font-size: 3rem;
  padding: 15px;
}

.second-title {
  color: #333;
  font-size: 2rem;
  padding-left: 15px;
  top: 0;
  left: 0;
}

.form-demand {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.form-demand form {
  margin-top: 15px;
}

.form-demand form fieldset {
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid #228B22;
}

.form-demand form legend {
  font-size: 2rem;
  font-weight: 600;
  color: #228B22;
}

.form-demand form label {
  padding: 10px;
  font-weight: bolder;
}

.form-demand form input {
  margin-bottom: 15px;
  cursor: pointer;
}

.form-demand form input[type=submit] {
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.form-demand form input[type=submit]:hover {
  background-color: #e67600;
}

.main-sign-in {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  gap: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.main-sign-in > .title-area > h1 {
  font-size: 2rem;
}

.form-sign-in {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.form-sign-in form {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-sign-in form label {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  float: right;
  align-items: center;
}

.form-sign-in form div {
  width: 100%;
  margin-right: 10px;
}

.form-sign-in form div input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #228B22;
}

.form-sign-in form input[type=submit] {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.form-sign-in form a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

#error {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-sign-in form input[type=submit]:hover {
  background-color: #e67600;
}

.main-sign-up {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  gap: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.main-sign-up > .title-area > h1 {
  font-size: 2rem;
}

.form-sign-up {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.form-sign-up form {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-sign-up form label {
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  align-items: center;
}

.form-sign-up form div {
  width: 100%;
  margin-right: 10px;
}

.form-sign-up form div input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #228B22;
}

.form-sign-up form input[type=submit] {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.form-sign-up form a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

#error {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-sign-up form input[type=submit]:hover {
  background-color: #e67600;
}

.form-sign-up form input[type=number]::-webkit-inner-spin-button,
.form-sign-up form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-sign-up .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  margin: 10px 0;
}

.button > .prev, .next {
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button > .prev:hover, .next:hover {
  background-color: #e67600;
}

.non-active-input {
  display: none;
}

.section-footer {
  background-color: #228B22;
  padding-top: 5px;
  height: 35px;
}

.section-footer footer {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.section-footer a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

/* Display Block For Deafault Scrool Bar */
html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #ccc;
}

.section-main {
  margin-top: 4rem;
  width: 100%;
}

.error {
  color: #D32F2F;
}

.warning {
  color: #F57C00;
}

.success {
  color: #388E3C;
}

.info {
  color: #1976D2;
}

/*# sourceMappingURL=style.css.map */
