.section-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #ffffff;
  padding: 0 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.section-header img {
  height: 150px;
}

.section-header li {
  list-style: none;
}

.active {
  border-bottom: 2px solid #228B22;
}

.section-header a {
  text-decoration: none;
  font-size: 1rem;
}

.section-header header .menu {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header header .menu .links {
  display: flex;
  gap: 2rem;
}

.section-header header .links a {
  color: #333;
}

.section-header header .links a:hover {
  color: #ff8c00;
}

.section-header header .burger-menu-button {
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.section-header header .burger-menu-button span {
  caret-color: transparent;
}

.section-header header .button a {
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.section-header header .button a:hover {
  background-color: #e67600;
}

.section-header header .burger-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}

.section-header header .burger-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header header .burger-menu .button {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header header .burger-menu .divider {
  height: 1px;
  background-color: #ffffff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section-header header .open {
  display: block;
}

.progress {
  position: fixed;
  left: 0;
  height: 4px;
  z-index: 300;
  width: 100%;
}

.progress-bar {
  height: 4px;
  background: #228B22;
  width: 0%;
}

@media (max-width: 990px) {
  .section-header header .menu .links,
  .section-header header .menu .button a {
    display: none;
  }
  .section-header header .menu .burger-menu-button {
    display: block;
  }
}
.title-area {
  padding: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #ff8c00;
  font-size: 3rem;
  padding: 15px;
}

.second-title {
  color: #333;
  font-size: 2rem;
  padding-left: 15px;
  top: 0;
  left: 0;
}

.form-demand {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.form-demand form {
  margin-top: 15px;
}

.form-demand form fieldset {
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid #228B22;
}

.form-demand form legend {
  font-size: 2rem;
  font-weight: 600;
  color: #228B22;
}

.form-demand form label {
  padding: 10px;
  font-weight: bolder;
}

.form-demand form input {
  margin-bottom: 15px;
  cursor: pointer;
}

.form-demand form input[type=submit] {
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.form-demand form input[type=submit]:hover {
  background-color: #e67600;
}

.main-sign-in {
  width: 80%;
  margin: auto;
  background-color: #e0e0e0;
  display: flex;
  gap: 2px;
  box-shadow: 34px 34px 67px #bcbcbc, -34px -34px 67px #ffffff;
}

.main-sign-in > .title-area > h1 {
  font-size: 2rem;
}

.form-sign-in {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.form-sign-in form {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-sign-in form label {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  float: right;
  align-items: center;
}

.form-sign-in form div {
  width: 100%;
  margin-right: 10px;
}

.form-sign-in form div input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #228B22;
}

.form-sign-in form input[type=submit] {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.form-sign-in form a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

#error {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-sign-in form input[type=submit]:hover {
  background-color: #e67600;
}

.main-sign-up {
  width: 80%;
  margin: auto;
  background-color: #e0e0e0;
  display: flex;
  gap: 2px;
  box-shadow: 34px 34px 67px #bcbcbc, -34px -34px 67px #ffffff;
}

.main-sign-up > .title-area > h1 {
  font-size: 2rem;
}

.form-sign-up {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.form-sign-up form {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-sign-up form label {
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  align-items: center;
}

.form-sign-up form div {
  width: 100%;
  margin-right: 10px;
}

.form-sign-up form div input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #228B22;
}

.form-sign-up form input[type=submit] {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.form-sign-up form a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

#error {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.form-sign-up form input[type=submit]:hover {
  background-color: #e67600;
}

.form-sign-up form input[type=number]::-webkit-inner-spin-button,
.form-sign-up form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-sign-up .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  margin: 10px 0;
}

.button > .prev, .next {
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button > .prev:hover, .next:hover {
  background-color: #e67600;
}

.non-active-input {
  display: none;
}

.main-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.table-area {
  width: 100%;
}

.table-area > table {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3333333333);
  border-radius: 0.8rem;
  padding: 0 10px;
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(213, 209, 222, 0.9960784314);
  cursor: default;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #ccc;
}

tbody > tr > td > a {
  background-color: #ff8c00;
  border: 2px solid #ff8c00;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
}

tbody > tr > td > a:hover {
  background-color: #e67600;
}

.section-footer {
  background-color: #228B22;
  padding-top: 5px;
  height: 35px;
}

.section-footer footer {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.section-footer a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 290px;
  height: 100%;
  background: #ff8c00;
  border-left: 10px solid #ff8c00;
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: #ffffff;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li .logo {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 900;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navigation ul li a span {
  color: #ffffff;
  font-size: 1.1rem;
}

.navigation ul li:hover a span,
.navigation ul li.hovered a span {
  color: #ff8c00;
}

.navigation ul li a .title {
  font-size: 1.4rem;
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #ffffff;
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #ffffff;
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #ffffff;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 2px solid #333;
}

.search label span {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.4rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: #e0e0e0;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: #ff8c00;
}

.cardBox .card .cardName {
  color: #333;
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card span {
  font-size: 3.5rem;
  color: #333;
}

.cardBox .card:hover {
  background: #ff8c00;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover span {
  color: #ffffff;
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: #228B22;
}

.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: #228B22;
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  background: #228B22;
  color: #ffffff;
}

.details .recentOrders table tr td {
  padding: 10px;
}

.details .recentOrders table tr td:last-child {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr td {
  padding: 12px 10px;
}

.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}

.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}

.recentCustomers table tr:hover {
  background: #ff8c00;
  color: #ffffff;
}

.recentCustomers table tr:hover td h4 span {
  color: #ffffff;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: auto;
}

/* Display Block For Deafault Scrool Bar */
.section-main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
}

.error {
  color: #D32F2F;
}

.warning {
  color: #F57C00;
}

.success {
  color: #388E3C;
}

.info {
  color: #1976D2;
}

/*# sourceMappingURL=style.css.map */
